/*p.PREMIERPARAGRAPHE{
	color: red;
	background-color: greenyellow;
}

p.DEUXIEMEPARAGRAPHE{
	color: blue;
	font-weight: bold;
	font-size: 60px;
}
*/body{
	background: url(BAE0201E-2185-4BCB-954A-3B88E843C383.jpeg)no-repeat;
	background-size: 85%
/*
}
h2.headline{
	font-size: 80px;
	padding-left: 50px;
}
a.MOT{
	font-size: 30px;
	opacity: 0.7
}*/
