/*p.PREMIERPARAGRAPHE{
	color: red;
	background-color: greenyellow;
}

p.DEUXIEMEPARAGRAPHE{
	color: blue;
	font-weight: bold;
	font-size: 60px;
}
*/body{
	background: url(https://cdn.pixabay.com/photo/2019/09/09/19/32/villa-4464471_960_720.jpg)no-repeat;
	background-size: 85%
/*
}
h2.headline{
	font-size: 80px;
	padding-left: 50px;
}
a.MOT{
	font-size: 30px;
	opacity: 0.7
}*/