nav.menu-nav ul li.btn{
	list-style-type: none;
	display: inline-block;
}

nav.menu-nav ul li.btn a{
	color: white;
	background-color: red;
	text-decoration: none;
	opacity: 0.7
}

nav.menu-nav ul li.btn:hover a{
	color: red;
	background-color: white;
	transition: 0.5s all;
}
p {
	color: blue;
	
}

back1 {
	
	background-image: url("img/AE2FB69D-DADA-4A89-8B6A-A7CB6991096F.jpeg");
	background-size:150px;
	
}
